*.pdf

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
.coverage
.env.test.local
.env.test

# Next.js
.next/
out/
build/
dist/

# Misc
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel