@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-pulse-slow: pulse 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  --background: #fdfdfc;
  --foreground: #2d3436;
}

body {
  /* Soft Pastel Mesh Gradient */
  background-color: #fdfdfc;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 100%, 96%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 100%, 96%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 100%, 96%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(339, 100%, 96%, 1) 0, transparent 50%),
    radial-gradient(at 100% 100%, hsla(253, 100%, 96%, 1) 0, transparent 50%),
    radial-gradient(at 50% 100%, hsla(225, 100%, 96%, 1) 0, transparent 50%);

  color: #2d3436;
  /* Dark Charcoal for contrast */
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}